<!DOCTYPE html>
<html lang='kr'>
    <head>
        <meta charset = 'UTF-8'>
        <title>새 보러 다니는 토랑이와 째중이</title>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
            .jg-font{
                font-family: 'Jeju Gothic', sans-serif:
                color: blue
            }
            img {display:block;
                margin:auto;}
            #div1{
                margin:50px 25px
            }
            #div2{
                margin:400px 200px 0px 200px
            }
            #div3{
                margin:100px
            }
            #div4{
                margin:10px
            }

        </style>
        <link href="../static/toggle_button.css" rel="stylesheet", type="text/css">
    </head> 
    <body>
        <script src="../static/toggle_button.js"></script>
        <div id='div1' align='center'>
            <!-- logo -->
            <div id='div2' align='center'>
                <img src="./images/logo.png" alt="로고 어디갔어!?" />
                <h3> 여름탐조 편 </h3>
            </div>
            <!-- toggle down button1 -->
            <div class="dropdown">
                <button class="dropbtn1">
                    <span class="dropbtn_icon">more_horiz</span>
                    <span class="dropbtn_content">어디 갈랭?</span>
                    <span class="dropbtn_click" style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                    onclick="dropdown()">arrow_drop_down</span>
                </button>
                <div class="dropdown-content">
                    <div class="fastfood" onclick="showMenu(this.innerText)"></div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">서울특별시</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">인천</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">대전</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">광주</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">대구</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">울산</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">부산</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">경기도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">강원도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">충청북도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">충청남도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">경상북도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">경상남도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">전라북도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">전라남도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">제주특별자치도</div>
                    <div class="fastfood" onclick="showMenu(this.innerText)">세종특별시</div>
                </div>
            <!-- toggle down button2 -->
            <div class="dropdown">
                <button class="dropbtn">
                    <span class="dropbtn_icon">more_horiz</span>
                    <span class="dropbtn_content">무슨 새 만날랭?</span>
                    <span class="dropbtn_click" style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                    onclick="dropdown()">arrow_drop_down</span>
                </button>
                <div class="dropdown-content">
                    <div class="birds" onclick="showMenu(this.innerText)">후투티</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">제비(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">해오라기(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">물총새(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">뻐꾸기(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">개개비(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">뜸부기(예정)</div>
                    <div class="birds" onclick="showMenu(this.innerText)">청호반새(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">파랑새(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">할미새사촌(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">되지빠귀(예정)</div>
                    <div class="birds" onclick="showMenu(this.innerText)">꾀꼬리(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">두견이(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">새홀리(예정)</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">토랑PICK : 물까치</div>
                    <div class="birds"  onclick="showMenu(this.innerText)">째증PICK : 삼광조</div>
                </div>
            </div>
            <!-- information link -->
            <div id='div3'>
                <li> <a href="http://wbknd.or.kr/wbk10/365" class="jg-font">새에게 진심인 탐조인들을 위한 가이드</a></li>
            </div>
        </div>
        </body>
</html>